/**
 * Sprites and layout for customer section
 * 
 * @since    05/11/2012
 * @version  05/14/2012
 * @author   fb
 */
#customer {
  text-align: center;
}
#customer h1 {
  text-align: left;
}
#customer img {
  margin: 50px 20px;
}

#customer1 {
  overflow: hidden;
  margin-left: -10px;
  padding-left: 10px;
  padding-right: 10px;
}

.bwWrapper1 {
  position: relative;
  display: block;
  float: left;
  margin: 50px 20px;
}
